<h1>Vous voulez ENFIN piloter l’aménagement de vos locaux de manière simple et autonome ?</h1>
<h2>Surfy est l’outil qu’il vous faut pour </h2>
<ol>
    <li>modifier vos plans,</li>
    <li>optimiser vos espaces de travail</li>
    <li>maitriser vos coûts.</li>
</ol>
<div>
    Nous vous proposons de créer votre interface personnalisée www.vous.surfy.pro avec vos plans,
    et de vous faire profiter de notre pack de lancement :
    <ul>
        <li>1 séance de démonstration en lien avec l’analyse de vos besoins</li>
        <li>2 mois d’abonnement offerts sans engagement</li>
        <li>1h d’accompagnement pour la prise en main par un de nos experts</li>
    </ul>

    <div>Je suis intéressé par le pack de lancement</div>
</div>


<h1>Les atouts de Surfy ...</h1>
<ul>
    <li>Simple d’utilisation, rapide à déployer</li>
    <li>Pas d’investissement informatique</li>
    <li>Résultats immédiats – reportings simplifiés</li>
    <li>Connexion par internet sur PC, tablette et smartphone</li>
    <li>Possibilité d’ajouter des fonctionnalités à la demande</li>
    <li>Sécurité des données</li>
    <li>Outil personnalisable et évolutif</li>
</ul>

<h1>... pour gagner en autonomie et en efficacité</h1>

<h1>Surfy est un Software As A Service pour : </h1>

<h1>Comment Surfy peut m’aider au quotidien ?</h1>