
    <ul>
      <li><a href="/"><img class="logo-top" src="/assets/logos/surfy-logo.png" alt="Surfy.pro"/></a></li>
      <li><a href='/solutions'>Solutions</a></li>
      <li><a href='/services'>Services</a></li>
      <li><a href='/prices'>Prix</a></li>
      <li><a href='/contact'>Contact</a></li>
    </ul>
