<div class="text">
  <div class="content">
    <h2>Ils nous recommendent</h2>
    <ul class="resp-list"><li>
      <ul class="reference resp-list">
        <li><img class="logo-reference" src="/images/logos/MedecinsDuMondeLogo.png" alt="Medecins du Monde"></li>
        <li class="reference-name">
          <div class="reference-name">
            <h3>Medecins du Monde</h3>
            « Surfy nous a permis de maîtriser nos coûts et d’optimiser nos espaces, c’est l’outil qui nous accompagne dans nos transformations » Anne Farhane, Directrice de l’Environnement de Travail
          </div>
        </li>
      </ul>
    </li></ul>
  </div>
</div>
