<ul class="slides">
  <li id="contact">
    <div class="text">
      <div class="content optimize contact">
        <h2>Nous Contacter</h2>
        <p class="email">Email<br><a class="animated tada" href="mailto:contact@surfy.pro">contact@surfy.pro</a></p>
        
        <h3>Agence de Paris</h3>
        <p>Téléphone : +33 (0) 1 56 73 90 01</p>
        <p>Courrier : 14 rue Durmersheim 94430 Chennevieres Sur Marne</p>
      </div>
    </div>
  </li>
</ul>
