<div class="jumbotron">
  <h1>Surfy.pro</h1>
  Valorise l'activité des Services Généraux en fournissant une vision globale et percutante de l'exploitation des espaces.
  <p><a href="mailto:contact@surfy.pro">Nous contacter</a></p>
</div>


<div class="flexslider">
  <ul class="slides">
    <li><img src="/assets/sfdc_sales_bgr_1600x450.jpg" alt="">
      <div class="text">

  <div class="content">
    
            <h2>Optimisez vos surfaces</h2>
        <ul>
          <li>pas de déperdition de m² utiles </li>
          <li>la gestion des flux : implantation des départements / services en fonction des besoins de synergie
          </li>
        </ul>

  </div>

      </div>
    </li>
    <li><img src="/assets/sfdc_service_bgr_1600x450.jpg" alt="">
      <div  class="text">
        <div class="content">
        <h2>Maîtrisez et réduisez vos coûts </h2>
        <ul><li>Assistance à la rédaction de cahiers des charges pour le calcul des
        métrés </li>
        <li>Elaboration de plans d'actions sur l'entretien et la rénovation des
        espaces </li>
        <li>Contrôle aisé des devis de second œuvre </li>
      </ul>
      </div>
    </div>
  </li>
  <li><img src="/assets/sfdc_marketing_bgr_1600x450.jpg" alt="">
    <div class="text">
      <div class="content">
      <h2>Décidez et communiquez facilement</h2>
      <ul>
        <li>Créez des scenarii pour faciliter
        la mise en œuvre des réaménagements et déménagements internes </li>
        <li>Fournit en temps réel les données relatives au suivi de l'environnement
        de travail par le CHSCT, les Ressources Humaines et les occupants </li>
        <li>Reporting synthétique de l'état du patrimoine </li>
        <!-- <li>Fourniture de données patrimoniales / surfaciques en vue de leur exploitation financière, analytique et/ou prévisionnelle </li> -->
      </ul>
      </div>
    </div>
  </li>
  <li><img src="/assets/sfdc_platform_bgr_1600x450.jpg" alt="">
    <div class="text">
      <div class="content">
      <h2>Une interface simple et intuitive</h2>
      <ul>
        <li>Utilisation des plans pour différents supports :
          <ul>
            <li> Com Interne, Livret d'accueil, Sécurité (guide-files / serre-files)  </li>
          </ul>
        </li>
        <li>Des routines de gestion adaptées à plusieurs utilisateurs
          <ul>
            <li> accueil / standard , intervenants de maintenance, collaborateurs Services Généraux  </li>
          </ul>
        </li>
      </ul>


      </div>
    </div>
  </li>

  <li>
    <h1>Prix par utilisateur</h1>
    <table class="table price">
      <tr>
          <th>Profile</th>
          <th>Description</th>
          <th>Prix</th>
      </tr>


        <tr>
          <td>Adminstrateur</td>
          <td>Les Administrateurs peuvent créer des typologies, d’autres utilisateurs et contribuer au 
maintien du référentiel. </td>
          <td>250 &euro; / mois</td>
        </tr>
        <tr>
          <td>Contributeur</td>
          <td>Les Contributeur peuvent contribuer au maintien du référentiel. </td>
          <td>200 &euro; / mois</td>
        </tr>
        <tr>
          <td>Lecteur</td>
          <td>Les Lecteurs peuvent uniquement naviguer sans pouvoir modifier, ils n’ont pas accès à la 
partie base de donnée. </td>
          <td>100 &euro; / mois</td>
        </tr>

    </table>


  </li>
</ul>
</div>
