<ul class="slides">  
  <li id="prices">
    <div class="text">
      <div class="content decide">
        <h2>Prix par utilisateur</h2>
        <h3>Software As A Service - Votre application Surfy est hébérgé sur le Cloud.</h3>
        <table class="table price">
          <tr>
            <th>Profile</th>
            <th>Description</th>
            <th>Prix</th>
          </tr>
          <tr>
            <td>Administrateur</td>
            <td>Les Administrateurs peuvent créer des typologies, d’autres utilisateurs et contribuer au
            maintien du référentiel. </td>
            <td>250 &euro; / mois</td>
          </tr>
          <tr>
            <td>Contributeur</td>
            <td>Les Contributeurs peuvent contribuer au maintien du référentiel. </td>
            <td>200 &euro; / mois</td>
          </tr>
          <tr>
            <td>Lecteur</td>
            <td>Les Lecteurs peuvent uniquement naviguer sans pouvoir modifier, ils n’ont pas accès à la
            partie base de donnée. </td>
            <td>100 &euro; / mois</td>
          </tr>
        </table>
      </div>
    </div>
  </li>
</ul>
