<ul class="slides">
  <li id="services">
    <div class="text">
      <div class="content master-cost">
        <h2>Nos prestations et services</h2>
        <ul>
          <li><h3>Mise en place du logiciel Surfy pour le client sur le Cloud (url, logo)</h3></li>
          <li><h3>Intégration des données</h3>
            <ul>
              <li>Plans (via images)</li>
              <li>Base de données (Excel)</li>
              <li>Création des polygones (Manuel)</li>
            </ul>
          </li>
          <li><h3>Architecture et Inventaire</h3>
            <ul>
              <li>Dessin des plans Autocad du bâtiment</li>
              <li>Réalisation de l'inventaire du bâtiment</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li id="university">
    <div class="text">
      <div class="content decide">
        <h2>Surfy University</h2>
        <ul>
          <li><h3>Formation et accompagnement</h3>
            <ul>
              <li>Formation sur Surfy</li>
              <li>Space planning</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </li>  
</ul>
