<ul class="slides">
  <li id="optimize">
  <div class="text">
    <div class="content optimize">
      <h2>Optimisez vos surfaces</h2>
      <ul>
        <li><h3>Mise en relief des situations à exploiter</h3>
          <ul>
            <li>Visibilité en permanence de l’exploitation des surfaces</li>
            <li>Favoriser les échanges et la proximité là où elle est nécessaire : implantation des départements / services en fonction des besoins de synergie</li>
            <li>Ratio d’occupation (nb d’occupants / pièce, m² / personne / organisation, …)</li>
            <li>Pas de déperdition de m² utiles</li>
          </ul>
        </li>
        <li>
          <h3>Cartographie thématique fiable des surfaces</h3>
          <ul>
            <li>Par direction / service</li>
            <li>Par typologie de pièce</li>
            <li>Par typologie de sols / murs / tout item pertinent selon vos besoins</li>
          </ul>
        </li>
        <li>
          <h3>Géolocalisation et centralisation des informations</h3>
          <ul>
            <li>Des personnes</li>
            <li>Des organisations</li>
            <li>Des équipements informatiques, du mobilier, …</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
<li id="master-cost">
  <div  class="text">
    <div class="content master-cost">
      <h2 >Maîtrisez et réduisez vos coûts </h2>
      <ul>
        <li><h3>Aide à la gestion financière</h3>
          <ul>
            <li>Détermination de clés de répartition budgétaire  </li>
            <li>Prévisionnel de travaux</li>
          </ul>
        </li>
        <li><h3>Aide à l’élaboration de plans d’action sur les prestations d’entretien et de rénovation des espaces de travail en fournissant des informations</h3>
          <ul>
            <li>Pour la rédaction de cahiers des charges </li>
            <li>Pour l’élaboration de plans le zoning et le calcul des métrés  </li>
            <li>Sur la nature et l’ancienneté des surfaces </li>
            <li>Contrôle aisé des devis de second œuvre </li>
          </ul>
        </li>
        <li><h3>Aide à l’évaluation des besoins en services et fournitures en fonction du nombre d’occupants</h3></li>
      </ul>
    </div>
  </div>
</li>
<li id="decide">
  <div class="text">
    <div class="content decide">
      <h2>Décidez et communiquez facilement</h2>
      <ul>
        <li><h3>Un outil d’aide à la décision</h3>
          <ul>
            <li>Qui offre une vision claire des opportunités à saisir</li>
            <li>Qui permet la conception d’autant de scenarii que nécessaire pour faciliter la mise en œuvre des déménagements / réaménagements internes</li>
          </ul>
        </li>
        <li>
          <h3>Et de Com’ Interne</h3>
          <ul>
            <li>Qui fournit en temps réel les données relatives au suivi de l’environnement de travail par les directeurs, les RH, les IRP, le CHSCTet les occupants </li>
            <li>Qui établit un reporting synthétique de l’état du patrimoine avec données patrimoniales / surfaciques en vue de leur exploitation financière, analytique et/ou prévisionnelle</li>
            <li>Qui valorise l’activité des Services Généraux sur la gestion des espaces et leur contribution dans le cadre du Bien Être au travail</li>
            <li>Reporting synthétique de l'état du patrimoine </li>
          </ul>
        </li>
        <!-- <li>Fourniture de données patrimoniales / surfaciques en vue de leur exploitation financière, analytique et/ou prévisionnelle </li>
        -->
      </ul>
    </div>
  </div>
</li>
<li id="simple-ui">
  <div class="text">
    <div class="content simple-ui">
      <h2 >Une interface simple et intuitive</h2>
      <ul>
        <li><h3>Utilisation des plans pour différents supports</h3>
          <ul>
            <li> Com Interne, Livret d'accueil, Sécurité (guide-files / serre-files)  </li>
          </ul>
        </li>
        <li><h3>Rapide à déployer </h3>
          <ul><li>En fonction de ce qui est disponible dans vos bases de données</li></ul>
        </li>
        <li><h3>Accession rapide à l’autonomie de gestion </h3>
          <ul>
            <li>Formation de l’utilisateur en une seule journée</li>
            <li>Accompagnement personnalisé pour la prise en main</li>
          </ul>
        </li>
        <li><h3>Ajout de fonctionnalités à la demande</h3>
          <ul>
            <li> pour créer VOTRE SurfyPro</li>
            <li>Intégration de votre verbatim</li>
          </ul>
        </li>
        <li><h3>Accessible par internet sur PC ou Smartphone</h3>
          <ul>
            <li>  Mise à jour facilitée et possible sur le terrain</li>
            <li>Partage simple des informations </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>

</ul>
