<p class="anchor"><a id="surfy" name="surfy"></a></p>
<div class="zone1 zone">
  <div class="zone-picture">
    <div class="slider zone1-carousel">
      <div><img src="/assets/pictures/surfy1.png"></div>
      <div><img src="/assets/pictures/surfy3.png"></div>
    </div>
  </div>
  <div class="zone-text">
    <div class="inside-zone">
      <h1>Surfy, une interface simple et intuitive</h1>
      <ul class="title">
        <li><div class="circle circle-red">1</div><div><h2>Modifier vos plans</h2></div></li>
        <li><div class="circle circle-green">2</div><div><h2>Optimiser vos surfaces et espaces de travail</h2></div></li>
        <li><div class="circle circle-cyan">3</div><div><h2>Maîtriser vos coûts</h2></div></li>
      </ul>
      Créez une interface personnalisée avec vos plans et profitez de notre pack de lancement. Entrez dans votre navigateur internet : <b class="text-cyan">http://votre-société.surfy.pro</b>. Bénéficiez de :

        <li><b>1 démonstration</b> en lien  et l'analyse de vos besoins</li>
        <li><b>2 mois d'abonnement</b> offert sans engagement</li>
        <li><b>1h de formation</b> pour la prise en main</li>
      </ul>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2>Découvrez</h2>
          <h2>le pack de lancement</h2>
        </div>

        <%= render 'zones/contact_form' %>

      </div>
      <div class="zone-action"><img src="/assets/icons/order_chat.png"></div>
    </div>
  </div>
</div>
