<div class="zone2 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-red"></div>
      <div class="title">
        <h1>Les atouts de Surfy</h1>
      </div>
    </div>
    <div class="inside-zone">
      <ul>
        <li><b>Simple</b> d’utilisation, <b>rapide</b> à déployer</li>
        <li><b>Pas d’investissement</b> informatique</li>
        <li><b>Résultats immédiats</b> – reportings simplifiés</li>
        <li><b>Connexion par internet</b> sur PC, tablette et smartphone</li>
        <li>Possibilité d’<b>ajouter des fonctionnalités</b> à la demande</li>
        <li><b>Sécurité</b> des données</li>
        <li><b>Outil personnalisable et évolutif</b></li>
      </ul>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2 class="center">pour gagner en autonomie</h2>
          <h2 class='right'>et en efficacité</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-picture"></div>
</div>