<div class="zone4 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-cyan"></div>
      <div class="title">
        <h1>Comment Surfy peut m’aider au quotidien ?</h1>
      </div>
    </div>
    <div class="inside-zone">
      <h3>Nos prix</h3>
      <ul>
        <li>250€ HT / mois <br/> pour 1 licence Administrateur</li>
        <li>200€ HT / mois <br/> pour 1 licence Contributeur</li>
        <li>100€ HT / mois <br/> pour 1 licence Lecteur</li>
        <li>Formation « Surfy University » = 1⁄2 journée pour 1 à 3 personnes</li>
      </ul>
      Une licence n’est pas nominative et peut être partagée dans votre équipe
    </div>
  </div>
  <div class="zone-picture"></div>
</div>
