<p class="anchor"><a id="prix" name="prix"></a></p>
<div class="zone4 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-cyan"></div>
      <div class="title">
        <h1>Surfy, fonctionne par abonnement mensuel</h1>
      </div>
    </div>
    <div class="inside-zone">
      <ul class="prices colorized colorized-rainbow">
        <li>500€ HT / mois <br/> pour <b>1 licence Administrateur</b></li>
        <li>400€ HT / mois <br/> pour <b>1 licence Contributeur</b></li>
        <li>200€ HT / mois <br/> pour <b>1 licence Lecteur</b></li>
      </ul>
      <div class="free-text">
        Licences non nominatives pouvant être partagées par l’équipe
        <br/>
        Pas d’engagement sur la durée
      </div>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2 class="left">Surfy University = deux 1⁄2 journées</h2>
          <h2 class="right">de formation pour 1 à 3 personnes</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-picture">
    <div class="slider zone4-carousel">
      <div><img src="/assets/pictures/surfy4.png"></div>      
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509379638/site-web/ecrans/s1.png"></div>      
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509379638/site-web/ecrans/s2.png"></div>      
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509379638/site-web/ecrans/s3.png"></div>      
    </div>
  </div>
</div>
