<div class="zone4 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-cyan"></div>
      <div class="title">
        <h1>Quel est le prix de Surfy ?</h1>
      </div>
    </div>
    <div class="inside-zone">
      <ul class="prices colorized colorized-rainbow">
        <li>250€ HT / mois <br/> pour <b>1 licence Administrateur</b></li>
        <li>200€ HT / mois <br/> pour <b>1 licence Contributeur</b></li>
        <li>100€ HT / mois <br/> pour <b>1 licence Lecteur</b></li>
      </ul>
      <div class="free-text">Une licence n’est pas nominative et peut être partagée dans votre équipe</div>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2 class="left">« Surfy University » = 1⁄2 journée </h2>
          <h2 class="right">de formation pour 1 à 3 personnes</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-picture">
    <div>
      <img src="/assets/pictures/surfy4.png">
    </div>      
  </div>
</div>
