<p class="anchor"><a id="surfy" name="surfy"></a></p>
<div class="zone1 zone">
  <div class="zone-picture">
    <div class="slider zone1-carousel">
      <div><img src="/assets/pictures/surfy1.png" alt="Création de plan"></div>
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509379330/site-web/ecrans/Screen_Shot_2017-10-30_at_17.00.08.png" alt="Présentation des personnes"></div>
      <div><img src="/assets/pictures/surfy3.png" alt="Présentations des plans"></div>
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509379638/site-web/ecrans/Screen_Shot_2017-10-30_at_17.06.40" alt="Création d'objet"></div>      
      <div><img src="//res.cloudinary.com/surfydemo/image/upload/v1509380191/site-web/ecrans/Ba%CC%82timent_3-RdC_1.png" alt="Export de l'étage en image"></div>      

    </div>
  </div>
  <div class="zone-text">
    <div class="inside-zone">
      <h1>Piloter l’aménagement et la gestion des locaux en toute autonomie</h1>
      <ul class="title">
        <li><div class="circle circle-red">1</div><div><h2>Donne un accès permanent à des informations centralisées et fiables</h2></div></li>
        <li><div class="circle circle-cyan">2</div><div><h2>Délivre des plans et des fichiers Excel</h2></div></li>
        <li><div class="circle circle-green">3</div><div><h2>Soluble dans la culture d’entreprise de ses clients</h2></div></li>
      </ul>
      Créez une interface personnalisée avec vos plans et profitez de notre pack de lancement. Entrez dans votre navigateur internet : <b class="text-cyan">http://votre-société.surfy.pro</b>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2>Se partage avec tous </h2>
          <h2>les acteurs de l’entreprise</h2>
        </div>
      </div>
      <div class="zone-action"><img src="/assets/icons/order_chat.png" alt="image pour le tchat"></div>
    </div>
  </div>
</div>
