<div class="zone1 zone" id="zone1">
  <div class="zone-picture">
    <div>
      <img src="/assets/pictures/surfy1.png">
    </div>
  </div>
  <div class="zone-text">
    <div class="inside-zone">
      <h1>Surfy est l’outil qu’il vous faut pour </h1>
      <ul class="title">
        <li><div class="circle circle-red">1</div><div><h2>modifier vos plans</h2></div></li>
        <li><div class="circle circle-green">2</div><div><h2>optimiser vos espaces de travail</h2></div></li>
        <li><div class="circle circle-cyan">3</div><div><h2>maitriser vos coûts</h2></div></li>
      </ul>
      Nous vous proposons de créer votre interface personnalisée <b class="text-cyan">http://votre-société.surfy.pro</b> avec vos plans,
      et de vous faire profiter de notre pack de lancement :
      <ul>
        <li><b>1 séance de démonstration</b> en lien avec l'analyse de vos besoins</li>
        <li><b>2 mois d'abonnement</b> offerts sans engagement</li>
        <li><b>1h d'accompagnement</b> pour la prise en main par un de nos experts</li>
      </ul>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2>Je suis intéressé(e)</h2>
          <h2>par le pack de lancement</h2>
        </div>
      </div>
      <div class="zone-action"><img src="/assets/icons/order_chat.png"></div>
    </div>
  </div>
</div>