<p class="anchor"><a id="zone9" name="prix"></a></p>
<div class="zone4 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-red"></div>
      <div class="title">
        <h1>Surfy est Membre Associé de l'ARSEG</h1>
      </div>
    </div>
    <div class="inside-zone">
     L'ARSEG est le 1<sup>er</sup> réseau professionnel en France, consacré à l'Environnement de Travail. En l'intégrant, Surfy :
        <br/>
        <br/>
             <ul class="bp colorized colorized-rainbow">
                <li>Intègre un réseau d’excellence</li>
                <li>Met en avant son expertise</li>
                <li>Accède à des rencontres et échanges de qualité</li>
                <li>Participe à des conférences prestigieuses</li>
             </ul>
        
        </div>
    <div class="zone-bottom">
      
    </div>
  </div>
  <div class="zone-picture">
    <div><img src="/assets/arseg.png" title="Arseg"/></div>
  </div>
</div>