<p class="anchor"><a id="atouts" name="atouts"></a></p>
<div class="zone2 zone">
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-red"></div>
      <div class="title">
        <h1>Surfy, un outil agile et évolutif</h1>
      </div>
    </div>
    <div class="inside-zone">
      <ul class="colorized colorized-rainbow">
        <li><b>Simple</b> à utiliser</li>
        <li><b>Rapide</b> à déployer</li>
        <li><b>Aucun investissement</b> informatique</li>
        <li><b>Connexion par internet</b> sur PC, tablette et smartphone</li>
        <li><b>Résultats immédiats</b> – reportings simplifiés</li>
        <li>Ajout de <b>fonctionnalités</b> à la demande</li>
        <li><b>Sécurité</b> des données</li>
        <li><b>Outil personnalisable et évolutif</b></li>
      </ul>
    </div>
    <div class="zone-bottom">
      <div class="zone-end">
        <div class="zone-end-text">
          <h2 class="center">pour gagner en efficacité</h2>
          <h2 class='right'>et en autonomie</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-picture">
    <div class="video-zone">
        <iframe  src="https://www.youtube.com/embed/7hOAHKrhx44?loop=1&amp;playlist=7hOAHKrhx44&amp;color=white&amp;theme=light" frameborder="0" allowfullscreen></iframe>
      <!-- <img src="/assets/pictures/surfy3.png"> -->
    </div>     
  </div>
</div>
