<div class="zone3">
  <div class="title">
    <div class="half-circle half-circle-green"></div>
    <div><h1>Surfy est un Software As A Service pour</h1></div>
  </div>
  <div class="section-4">
    <div>
      <div class="title bg-red"><h2>Optimiser vos surfaces</h2></div>
      <div class="text-area">
        <ul>
          <li>Cartographies thématiques</li>
          <li>Réalisation de scenario précis</li>
          <li>Centralisation des informations</li>
          <li>Géolocalisation des objets</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green-dark"><h2>Décider et communiquer facilement</h2></div>
      <div class="text-area">
        <ul>
          <li>Reporting synthétique de l'état des lieux</li>
          <li>Informations sous forme de  chiers et plans</li>
          <li>Visuels éloquents</li>
          <li>Informations multiples et claires</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-cyan"><h2>Maitriser et réduire vos coûts</h2></div>
      <div class="text-area">
        <ul>
          <li>Ratio et indicateurs</li>
          <li>Inventaire et amortissement</li>
          <li>Support dans l'élaboration des plans d'action</li>
          <li>Evaluation des besoins</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green"><h2>Valoriser votre activité</h2></div>
      <div class="text-area">
        <ul>
          <li>Autonomie de gestion</li>
          <li>Vision directe des opportunités</li>
          <li>Conception de scenarii</li>
          <li>Professionnalisme</li>
        </ul>
      </div>
    </div>
  </div>
</div>
