<p class="anchor"><a id="services" name="services"></a></p>
<div class="zone6 zone">
  <div class="zone-picture">
    <div>
      <img src="/assets/pictures/surfy2.png">
    </div>    
  </div>
  <div class="zone-text">
    <div class="title-zone">
      <div class="half-circle half-circle-cyan"></div>
      <div class="title">
        <h1 >Nos prestations complémentaires</h1>
      </div>
    </div>
    <div class="inside-zone">
      <ul class="bp colorized colorized-rainbow">
        <li>Création des plans Autocad</li>
        <li>Dessin des polygones Surfy</li>
        <li>Space Planning</li>
        <li>Accompagnement à la réalisation de l’inventaire</li>
        <li>Pilotage de votre interface Surfy</li>
      </ul>
    </div>
  </div>
</div>
