<p class="anchor"><a id="references" name="references"></a></p>
<div class="zone5">
  <div class="title">
    <div class="half-circle half-circle-red"></div>
    <div><h1>Ils ont déjà leur interface personnalisée Surfy</h1></div>
  </div>
  <ul class="references">
    <li><div><img src="/assets/customers/lafarge.png" title="Lafarge"/></div></li>
    <li><div><img src="/assets/customers/limagrain.png" title="Limagrain"/></div></li>
    <li><div><img src="/assets/customers/volkswagen.png" title="Volkswagen"/></div></li>
    <li><div><img src="/assets/customers/mdm.png" title="Medecins du Monde"/></div></li>
    <li><div><img src="/assets/customers/acf.png" title="Action Contre la Faim"/></div></li>
    <!-- <li><img src="/assets/customers/kaconstructions.png"/></li> -->
  </ul>
</div>
