<div class="footer">
  <ul class="social-icons">
    <li><a target="_blank" href="https://twitter.com/surfypro"><i class="fa fa-twitter-square"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/company/surfy"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a target="_blank" href="https://www.facebook.com/socialsurfy"><i class="fa fa-facebook-square"></i></a></li>
    <li><a target="_blank" href="https://www.youtube.com/channel/UCqX-cTWFJwSmh2KpDUomYxg"><i class="fa fa-youtube-square"></i></a></li>
    <li><a target="_blank" href="https://plus.google.com/u/0/118118115019565761552"><i class="fa fa-google-plus-square"></i></a></li>
  </ul>
  <div class="company">Surfy SAS Société au capital de 50 000 € - SIREN 809 002 835 - 155 rue de picpus 75012 PARIS</div>

  <div class="footer-image">
    <div><img src="/assets/surfy_responsive.png"></div>
    <div><img src="/assets/surfy_agile.png" alt="Le logo de Surfy"></div>
  </div>
</div>
