<p class="anchor"><a id="solutions" name="solutions"></a></p>
<div class="zone3">
  <div class="title">
    <div class="half-circle half-circle-green"></div>
    <div><h1>Surfy, une interface simple et intuitive pour</h1></div>
  </div>
  <div class="section-4">
    <div>
      <div class="title bg-red bg-red-img"><h2>Optimiser votre patrimoine immobilier</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-red">
          <li>Gérer l’évolution de vos surfaces</li>
          <li>Modifier votre cloisonnement</li>
          <li>Implanter du mobilier</li>
          <li>Positionner vos équipements</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green bg-green-dark-img"><h2>Maîtriser votre périmètre économique</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-green-dark">
          <li>Elaboration de ratios et d’indicateurs</li>
          <li>Réalisation de l’inventaire (et amortissements)</li>
          <li>Support d’élaboration de plans d’action</li>
          <li>Evaluation des besoins en services et fournitures</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-cyan bg-cyan-img"><h2>Décider et communiquer facilement</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-cyan">
          <li>Outil de pilotage et d’aide à la décision</li>
          <li>Reporting synthétique de l’état des lieux</li>
          <li>Livrables en plans et fichiers Excel</li>
          <li>Visuels de communication interne</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green-dark bg-green-img"><h2>Mesurer et valoriser votre activité</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-green">
          <li>Autonomie de gestion</li>
          <li>Fédérer les différents acteurs avec un référentiel commun stable (équipes, partenaires, occupants, dirigeants, IRP, …)</li>
          <li>Accompagner la QVT</li>
          <li>Affirmer sa valeur ajoutée</li>
        </ul>
      </div>
    </div>
  </div>
</div>
