<p class="anchor"><a id="references" name="references"></a></p>
<div class="zone5">
  <div class="title">
    <div class="half-circle half-circle-red"></div>
    <div><h1>Ils ont déjà leur interface personnalisée Surfy</h1></div>
  </div>
    <div id="clients">
        <div class="clients-wrap">
  <ul id="clients-list" class="clearfix">
    <li><div><img src="//res.cloudinary.com/surfydemo/image/upload/c_scale,w_140/v1509375215/site-web/logos/suez.svg" title="Suez"/></div></li>
    <li><div><img src="/assets/customers/limagrain.png" title="Limagrain"/></div></li>
    <li><div><img src="/assets/customers/volkswagen.png" title="Volkswagen"/></div></li>
    <li><div><img src="/assets/customers/mdm.png" title="Medecins du Monde" height="50%" width="40%"/></div></li>
    <li><div><img src="/assets/customers/pmu.png" title="PMU"/></div></li>
    <li><div><img src="//res.cloudinary.com/surfydemo/image/upload/c_scale,h_60/v1509377821/site-web/logos/imerys.png" title="Imerys"/></div></li>
    <li><div><img src="/assets/customers/seloger.png" title="Seloger"/></div></li>
    <li><div><img src="/assets/customers/neopost.png" title="Neopost"/></div></li>
    <li><div><img src="/assets/customers/onet.jpg" title="Onet"/></div></li>
    <li><div><img src="/assets/customers/avril.jpg" title="Avril"/></div></li>
    <li><div><img src="/assets/customers/siaci.jpg" title="Siaci"/></div></li>
    <li><div><img src="/assets/customers/gecina.gif" title="Gecina"/></div></li>
    <!-- <li><img src="/assets/customers/kaconstructions.png"/></li> -->
  </ul>
  </div>
  </div>
</div>
