<p class="anchor"><a id="solutions" name="solutions"></a></p>
<div class="zone3">
  <div class="title">
    <div class="half-circle half-circle-green"></div>
    <div><h1>Surfy, un Software As A Service</h1></div>
  </div>
  <div class="section-4">
    <div>
      <div class="title bg-red bg-red-img"><h2>Optimiser vos surfaces</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-red">
          <li>Vision en temps réel de l’exploitation des surfaces</li>
          <li>Cartographies thématiques fiables</li>
          <li>Centralisation et géolocalisation des informations et des objets</li>
          <li>Réalisation intuitive de scénarios d’aménagement</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green bg-green-dark-img"><h2>Décider et communiquer facilement</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-green-dark">
          <li>Outil de pilotage et d’aide à la décision</li>
          <li>Reporting synthétique de l’état des lieux</li>
          <li>Informations en format Excel et plans</li>
          <li>Visuels de communication interne pour la signalétique</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-cyan bg-cyan-img"><h2>Maîtriser votre périmètre économique</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-cyan">
          <li>Elaboration de ratios et d’indicateurs personnalisables</li>
          <li>Réalisation de l’inventaire et des amortissements</li>
          <li>Support d’élaboration de plans d’action</li>
          <li>Evaluation des besoins en services et fournitures</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="title bg-green-dark bg-green-img"><h2>Valoriser votre activité</h2></div>
      <div class="text-area">
        <ul class="colorized colorized-green">
          <li>Autonomie de gestion</li>
          <li>Vision des opportunités à exploiter</li>
          <li>Contribution à la qualité de vie au travail</li>
        </ul>
      </div>
    </div>
  </div>
</div>
