// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
    text-align: center;
    margin: 0;
    font-family: Oxygen, Arial;
}

// .bottom{
//   text-align: left;
// }

ul.slides {
    margin: 0;
    padding: 0;
    li {
        position: relative;
        z-index: 0;
        // border:1px solid blue;
        padding: 0;
        margin: 0;
        // width: 100%;
        div {            
          background-color: rgba(255,255,255,0.5);
            width:50%;
            padding: 0 10px;
            // display: none;
            text-align: left;
            position: absolute;
            z-index: 1;
            top:0;
            left:0;
            // margin-top: -13px;
            // top: 50%;
            // left: 5%;
            font-size: 26px;
            height: 100%;
        }
        div.white{
          color:white;
        }
        img {
            // width: 100%;
            opacity: 0.5;
        }
    }
}
