.logo-reference {
    width: 100px;
    height: 100px;
}

ul.reference {
    li.reference-name {
        vertical-align: middle;
    }
    div.reference-name {
        padding: 10px;
        margin-left: 30px;
        position: relative;
        background: #eee;
        border: 2px solid #999;
        border-radius: 5px;
        &:after, &:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(238, 238, 238, 0);
            border-right-color: #eee;
            border-width: 20px;
            margin-top: -20px;
        }
        &:before {
            border-color: rgba(153, 153, 153, 0);
            border-right-color: #999;
            border-width: 22px;
            margin-top: -22px;
        }
    }
    h3 {
        margin: 0;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 240px) and (max-width: 1023px) {
    ul.reference {
        li.reference-name {
            width: 100%;
        }
        div.reference-name {
            margin-left: 0;
            margin-top: 30px;
            &:after, &:before {
                right: inherit;
                top: inherit;
                bottom: 100%;
                left: 50%;
            }
            &:after {
                border-color: rgba(238, 238, 238, 0);
                border-bottom-color: #eee;
                border-width: 20px;
                margin-left: -20px;
            }
            &:before {
                border-color: rgba(153, 153, 153, 0);
                border-bottom-color: #999;
                border-width: 23px;
                margin-left: -23px;
            }
        }
    }
}
