ul.social-icons{
  width: 100%;
  text-align: center;
  margin: 10px 0;
  li {
    display:inline-block;
    margin:0 2px;
    i{
      font-size: 3em;
      color:#aaa;
      &:hover{
        color:#333;
      }
    } 

  }
}
